[build]
base = ""
publish = ""
command = ""

[[headers]]
  # Define which paths this specific [[headers]] block will cover.
  for = "/*"

  [headers.values]
    X-Frame-Options = "DENY"
    X-XSS-Protection = "1; mode=block"
    Content-Security-Policy = "default-src https:; script-src 'self' https:; style-src 'self' https:; frame-ancestors 'none'; object-src 'none'"
    X-Content-Type-Options = "nosniff"
